<div id="heading">Hangman:<span id="title"></span></div>

<div id="messages">
  <h1 id="gameover">GAME OVER!</h1>
  <h2 id="giveAnswer">The correct answer was <span id="correctAnswer"></span>.</h2>
  <h1 id="youwin">YOU WIN!</h1>
  <h3 id="tryAgain">Play again!</h3>
</div>

<div id="stats">
  <h2 id="directions">Press any letter to make a guess!</h2>
  <h3>Wins:</h3>
  <h4 id="totalWins"></h4>
  <h3>Current Word:</h3>
  <h4 id="currentWord"></h4>
  <h3>Guesses Remaining:</h3>
  <h4 id="remainingGuesses"></h4>
  <h3>Letters Guessed:</h3>
  <h3 id="guessedLetters"></h3>

</div>

<div id="buttons"></div>

<div id="scriptChoice"></div>