<div id="home">
    <div class="container">
        <!--Jumbotron with logo-->
        <div class="jumbotron">
            <div class="row">
                {{!-- <h1 class="display-4 text-center">The<br>Learning<br>Lizard</h1> --}}
                <div class="col-4">
                    <img class="img-fluid" src="assets/images/lizardLogo.PNG" alt="lizard" id="lizard">
                </div>
                <div class="col-8">
                    <h1 class="text-center">"Study Your Way!"</h1>
                </div>
            </div>
            
            <hr class="my-4">
            <div class="row text-center justify-content-center inputButton mr-2" id="dynamicMod">
                <button type="button" id="createButton" class="btn btn-light btn-lg" data-toggle="modal"
                    data-target="#form-modal">
                    Create Your Data
                </button>
                <button type="button" id="erase" class="btn btn-light btn-lg ml-2">
                    Erase Data
                </button>
            </div>
        </div>

        <!--Modal-->
        <div class="modal fade add-form" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form id="form3" class="form-horizontal" action="/" method="post"
                        enctype="application/x-www-form-urlencoded">
                        <div class="modal-header">
                            <h3 class="text-left">Create Your Study Set!</h3>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered form-table">
                                <tr class="questAnswer" style="text-align: center;">
                                    <td class="question"><input type="text" maxlength="100" name="term"
                                            class="form-control" placeholder="Add Term" required></td>
                                    <td class="answer"><textarea name="definition" class="form-control"
                                            placeholder="definition" required></textarea></td>
                                    <td><i class="fa fa-plus add"></i> </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="save">Save</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Row for different modes-->
        <div id="modes" class="row justify-content-center">
            <div class="col">
                <div class="card">
                    <img src="/assets/images/flashcards.png" class="card-img-top learningModeImg" alt="flashcards">
                    <div class="card-body mode">
                        <a href="/flashcards">
                            <h3 class="card-title">Flashcards</h3>
                        </a>
                        <hr>
                        <p class="card-text">The flashcard mode helps visual learners memorize a set of data.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/assets/images/hangman.jpg" class="card-img-top learningModeImg" alt="hangman">
                    <div class="card-body mode">
                        <a href="/hangman">
                            <h3 class="card-title">Hangman</h3>
                        </a>
                        <hr>
                        <p class="card-text">The hangman mode helps visual learners memorize a set of data.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/assets/images/multipleChoice.jpg" class="card-img-top learningModeImg"
                        alt="multiple choice">
                    <div class="card-body mode">
                        <a href="#">
                            <h3 class="card-title">Multiple Choice</h3>
                        </a>
                        <hr>
                        <p class="card-text">The multiple choice mode helps logical learners memorize a set of data.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>





<!--Carousel-->
{{!-- <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/images/flashcards.png" class="d-block w-100" alt="flashcards">
                        <div class="carousel-caption d-none d-md-block">
                            <a href="/flashcards">
                                <h5>Flashcards</h5>
                            </a>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/hangman.jpg" class="d-block w-100" alt="hangman">
                        <div class="carousel-caption d-none d-md-block">
                            <a href="/hangman">
                                <h5>Hangman</h5>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/multipleChoice.jpg" class="d-block w-100" alt="multiple choice">
                        <div class="carousel-caption d-none d-md-block">
                            <a href="#">
                                <h5>Multiple Choice</h5>
                            </a>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div> --}}

<!--logo-->
{{!-- <div class="row justify-content-center">
            <img class="img-fluid" src="assets/images/logo.png" alt="logo" id="mainLogo">
        </div> --}}

{{!-- <!--Input data button-->
        <div class="row text-center justify-content-center inputButton mr-2">
            <button type="button" id="createButton" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#form-modal">
                Create Your Data
            </button>
            <button type="button" id="erase" class="btn btn-success btn-lg ml-2">
                Erase Data
            </button>
        </div> --}}